{% extends 'base.html' %}

{% block contenido %}
    <h1 class="mb-4">Opiniones de libros</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" name="apellido" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="libro" class="form-label">Libro:</label>
            <input type="text" name="libro" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="opinion" class="form-label">Opinion:</label>
            <textarea name="opinion" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Publicar opinión</button>
    </form>
    <hr>
    {% if opiniones %}
    <h2 class="mb-4">Opiniones publicadas</h2>
    <ul class="list-unstyled">
        {% for opinion in opiniones %}
        <li class="mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <p class="card-text"><strong>Nombre:</strong> {{ opinion.nombre }} {{ opinion.apellido }}</p>
                    <p class="card-text"><strong>Libro:</strong> {{ opinion.libro }}</p>
                    <p class="card-text"><strong>Opinión:</strong> {{ opinion.opinion }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <form method="post" action="{% url 'editar_opinion' opinion.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="opinion_editada" class="form-label">Editar opinión:</label>
                            <textarea name="opinion_editada" class="form-control" required>{{ opinion.opinion }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Guardar cambios</button>
                    </form>
                    <form method="post" action="{% url 'eliminar_opinion' opinion.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger ms-2">Eliminar opinión</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
