{% extends 'OPBooks/base.html' %}

{% block contenido %}
    <h1 class="mb-4">Inicio de sesión</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
    </form>
{% endblock %}
